<section>
  <div class="page-header">
    <h1>{{vm.inventory._id ? 'Edit Stock Inventory' : (vm.inventory.positive ? 'Add Stock to Inventory':'Remove Stock from Inventory')}}</h1>

  </div>
  <div class="col-md-12">
    <form name="vm.form.inventoryForm" class="form-horizontal" ng-submit="vm.save(vm.form.inventoryForm.$valid)"
          novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Description</label>
          <input name="name" type="text" ng-model="vm.inventory.name" id="name" class="form-control"
                 placeholder="Description" required>
          <div ng-messages="vm.form.inventoryForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Inventory Description is required.</p>
          </div>
          <br><br>

          <div flex ng-repeat="row in vm.inventory.rows" class="list-group-item">

            <div flex layout="row" layout-align="space-between center">


              <!--row.p is the selected product object-->
              <div layout="column" flex="20">
                <md-autocomplete
                  flex required
                  ng-blur="vm.autoLeave(row,$index)"
                  md-input-name="product{{$index}}"
                  md-selected-item="row.p"
                  md-search-text-change="vm.searchTextChange(row,$index)"
                  md-search-text="row.searchText"
                  md-selected-item-change="vm.selectedItemChange(item,row)"
                  md-items="item in vm.querySearch(row.searchText)"
                  md-item-text="item.name"
                  md-min-length="0"
                  md-floating-label="Product name">

                  <md-item-template>
                    <span md-highlight-text="row.searchText" md-highlight-flags="^i">{{item.name}}</span>
                  </md-item-template>


                </md-autocomplete>

                <div flex ng-messages="vm.form.inventoryForm['product' + $index].$error"
                     ng-show="vm.form.inventoryForm['product' + $index].$touched">
                  <div ng-message="required">You <b>must</b> select a product</div>
                </div>


              </div>


              <div flex="20">
                <md-autocomplete
                  flex ng-required="row.p.hasVariants"
                  ng-blur="vm.autoLeavev(row,$index)"
                  md-input-name="variant{{$index}}"
                  ng-show="row.p.hasVariants||row.variant"
                  md-selected-item=""
                  md-search-text-change="vm.searchTextChangev(row)"
                  md-search-text="row.searchTextv"
                  md-selected-item-change="vm.selectedItemChangev(item,row)"
                  md-items="item in vm.querySearchv(row.searchTextv,row)"
                  md-item-text="item.name"
                  md-min-length="0"
                  md-floating-label="Variant">
                  <md-item-template>
                    <span md-highlight-text="row.searchTextv" md-highlight-flags="^i">{{item.name}}</span>
                  </md-item-template>
                  <md-not-found>
                    No states matching "{{row.searchTextv}}" were found.
                    <a ui-sref="product.create({})">Create a new one!</a>
                  </md-not-found>
                </md-autocomplete>
                <div flex ng-messages="vm.form.inventoryForm['variant' + $index].$error"
                     ng-show="vm.form.inventoryForm['variant' + $index].$touched">
                  <div ng-message="required">You <b>must</b> select a variant</div>
                </div>


              </div>
              <div flex="10">
                <md-input-container class="md-block" flex>
                  <label>Curent stock</label>
                  <input ng-model="row.bal" disabled>
                </md-input-container>

              </div>
              <!--quantity-->
              <div flex="20">
                <md-input-container class="md-block" ng-if="vm.inventory.positive">
                  <label>Quantity</label>
                  <input ng-required="{{vm.inventory.positive}}" type="number" step="any" name="quantityAdd{{$index}}" ng-model="row.add" min="1">
                  <div ng-messages="vm.form.inventoryForm['quantityAdd'+$index].$error"
                       ng-show="vm.form.inventoryForm['quantityAdd'+$index].$touched" multiple md-auto-hide="false">
                    <div ng-message="required">
                      Quantity is Required
                    </div>
                    <div ng-message="min">
                      Minimum Quantity is 1
                    </div>
                  </div>
                </md-input-container>
                <md-input-container class="md-block" ng-if="!vm.inventory.positive">
                  <label>Quantity</label>
                  <input ng-required="{{!vm.inventory.positive}}" type="number" step="any" name="quantitySub{{$index}}" ng-model="row.subtract" min="1">
                  <div ng-messages="vm.form.inventoryForm['quantitySub'+$index].$error"
                       ng-show="vm.form.inventoryForm['quantitySub' + $index].$touched" multiple md-auto-hide="false">
                    <div ng-message="required">
                      Quantity is Required
                    </div>
                    <div ng-message="min">
                      Minimum Quantity is 1
                    </div>
                  </div>
                </md-input-container>
              </div>
              <!--remove button-->
              <div flex="5">
                <button type="button" ng-click="vm.removerow($index)" class="btn btn-default">-</button>
              </div>
            </div>
          </div>
          <button type="button" ng-click="vm.addrow()" class="btn btn-default">+</button>


        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.inventory._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
