<section>
  <div class="page-header">
    <h1>Inventories</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="inventory in vm.inventories"
       ui-sref="inventories.view({ inventoryId: inventory._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="inventory.created | date:'mediumDate'"></span>
        by
        <span ng-if="inventory.user" ng-bind="inventory.user.displayName"></span>
        <span ng-if="!inventory.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="inventory.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.inventories.$resolved && !vm.inventories.length">
    No Inventories yet, why don't you <a ui-sref="inventories.create">create one</a>?
  </div>
</section>
