<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>products</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay(vm.products)" />
      </div>
    </div>
  </div>
  <div class="list-group">
    <a ng-repeat="p in vm.pagedItems" ui-sref="inventories.productstock({productId: p._id})" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="p.name"></h4>
      <p class="list-group-item-text pull-right small" ng-bind="p.categories"></p>
      <p class="list-group-item-text" ng-bind="user.email">pp</p>
    </a>
  </div>

  <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged(vm.products)"></uib-pagination>
</section>
