<section>
  <div class="page-header">
    <h1>{{vm.product.name}}</h1>
  </div>

  <p>Please select a Variant</p>
  <div ng-show="vm.product.hasVariants">
    <md-autocomplete

      md-selected-item=""
      md-search-text-change="vm.searchTextChange()"
      md-search-text="vm.searchText"
      md-selected-item-change="vm.selectedItemChange(item)"
      md-items="item in vm.querySearch(vm.searchText)"
      md-item-text="item.name"
      md-min-length="0"
      placeholder="variant">
      <md-item-template>
        <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.name}}</span>
      </md-item-template>
      <md-not-found>
        No states matching "{{vm.searchTextv}}" were found.

      </md-not-found>
    </md-autocomplete>

  </div>

  <br> <br>

  <table ng-show="!vm.product.hasVariants||vm.variant" class=" md-padding" border="1" style="width: 100%;background-color: white; color: black;">

  <tbody>
  <tr>

    <!-- You can adjust the width of table columns as well -->


    <!-- Use text alignment like text-center or text-right -->
    <th  class="text-center">Date</td>
    <th  class="text-center">creator</td>
    <th  class="text-center">Name(description)</td>
    <th  class="text-center">Inbound</td>
    <th  class="text-center">Outbound</td>
    <th class="text-center">Balance</td>
  </tr>

  <!--table ng repeat start -->
  <tr data-ng-repeat="row in vm.data">
    <td><a href="#"> {{row.created| date:'dd-MM-yyyy'}} </a></td>

    <td>
      {{row.user}}
    </td>
    <td>
     <a ui-sref="inventories.view({ inventoryId: row._id })">{{row.name}}</a>
    </td>
    <td>
      {{row.add}}
    </td>
    <td >
      {{row.subtract}}
    </td>
    <td >
      {{row.bal}}
    </td>

  </tr>


  </tbody>
</table>



</section>
