<section>
  <div class="page-header">
    <h1 ng-bind="vm.inventory.name"></h1>
  </div>
  <div class="pull-right"
       >
    <!--ng-show="vm.inventory.isCurrentUserOwner"-->
    <a class="btn btn-primary"
       ui-sref="inventories.edit({ inventoryId: vm.inventory._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.inventory.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.inventory.user"
            ng-bind="vm.inventory.user.displayName"></span>
      <span ng-if="!vm.inventory.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.inventory.content"></p>

  <div flex  ng-repeat="row in vm.inventory.rows"  class="list-group-item">

    <div flex layout="row"  layout-align="space-between center">

      <!--row.p is the selected product object-->
      <div flex="20">
       <p>{{row.productname}}</p>
      </div>

      <div flex="20">
        <p>{{row.variant}}</p>
      </div>


      <div ng-show="vm.inventory.positive" flex="20">
        <label class="control-label" >+{{row.add}}</label>

      </div>
      <div ng-hide="vm.inventory.positive" flex="20">
        <label class="control-label" >-{{row.subtract}}</label>

      </div>

    </div>
  </div>

</section>
