<section>
  <div class="page-header">
    <h1>{{vm.product._id ? 'Edit Product' : 'New Product'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.productForm" class="form-horizontal" ng-submit="vm.save(vm.form.productForm.$valid)" novalidate>
      <fieldset>
        <!--name-->
              <div class="form-group" show-errors>
                <label class="control-label" for="name">Name</label>
                <input name="name" type="text" ng-model="vm.product.name" id="name" class="form-control" placeholder="Name" required>
                <div ng-messages="vm.form.productForm.name.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Product name is required.</p>
                </div>
              </div>
        <!--category-->

              <div class="form-group" >
                <label class="control-label" >Category : </label><label class="control-label" >   {{vm.product.category}}</label>
                <md-autocomplete

                  md-selected-item=""
                  md-search-text-change="vm.searchTextChange(vm.searchText)"
                  md-search-text="vm.searchText"
                  md-selected-item-change="vm.selectedItemChange(item)"
                  md-items="item in vm.querySearch(vm.searchText)"
                  md-item-text="item.name"
                  md-min-length="0"
                  placeholder="category">
                  <md-item-template>
                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.name}}</span>
                  </md-item-template>
                  <md-not-found>
                    No states matching "{{ctrl.searchText}}" were found.
                    <a ui-sref="categories.create({})">Create a new one!</a>
                  </md-not-found>
                </md-autocomplete>
                <div ng-messages="vm.form.productForm.category.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Category name is required.</p>
                </div>
              </div>

              <!--units-->
        <label class="control-label" for="name">Accounting Units</label>
        <input  type="text" ng-model="vm.product.units"  class="form-control" placeholder="Units name" required>
            <br>
        <!--variantss-->
        <md-checkbox ng-model="vm.product.hasVariants" aria-label="Product Variants">
                Product Varriants: {{ vm.product.hasVariants }}
              </md-checkbox>
        <br>
        <!---->
               <div ng-show="vm.product.hasVariants" ng-repeat="product in vm.product.variants" class="list-group-item">
                   <div flex layout="row">
                       <div flex="10">{{$index+1}}</div>
                       <div flex="30"> <input  type="text" ng-model="product.name"  class="form-control" placeholder="size" ></div>
                       <div flex="10"> <button type="button" ng-click="vm.removevariants($index)" class="btn btn-default">-</button></div>

                   </div>
               </div>
        <button ng-show="vm.product.hasVariants" type="button" ng-click="vm.addvariants()" class="btn btn-default">+</button>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.product._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
