<section>
  <div class="page-header">
    <h1 ng-bind="vm.product.name"></h1>
  </div>
  <div class="pull-right"
      >
    <a class="btn btn-primary"
       ui-sref="products.edit({ productId: vm.product._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.product.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.product.user"
            ng-bind="vm.product.user.displayName"></span>
      <span ng-if="!vm.product.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.product.content"></p>
</section>
